/* Add your custom styles for the Shop component here */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    width: 50%;
    max-width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  