.mission-button {
  font-size: 1.2rem;
  padding: 8px 16px;
  margin: 4px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-transform: capitalize;
}

.direction-button {
  font-size: 1.2rem;
  padding: 8px 16px;
  margin: 4px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-transform: capitalize;
}

.mission-button:hover {
  background-color: #0056b3;
}

.direction-button:hover {
  background-color: #0056b3;
}

.direction-button.selected {
  background-color: #007bff;
  color: white;
  border: 3px solid rgb(201, 34, 34);
}
